@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

a {
  text-decoration: none;
  color: inherit;
}

.own-row {
  display: flex;
  flex-flow: row nowrap;
}

@mixin text($size: 28px, $weight: 400) {
  font-family: Roboto Condensed, serif;
  font-size: $size;
  font-weight: $weight;
}


$main-background: #ffffff;
$plate-background: #e3f6f5;
$fixed-menu-background: #ffebff;
$hf-background: #272343;
$achievement-background: #FFCBA4;
header {
  align-content: center;
  box-sizing: border-box;
  padding: 10px;
  color: $plate-background;
  background: $hf-background;
  -webkit-box-shadow: 0 5px 36px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 5px 36px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 5px 36px 0 rgba(0, 0, 0, 0.75);
}

.header-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include text(36px, 400);

  nav {
    a {
      margin: 0 10px;
    }
  }
}

.plate {
  padding: 10px 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 36px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 10px 36px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 10px 36px 0 rgba(0, 0, 0, 0.75);
  background: $plate-background;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: Ribeye Marrow, serif;
  font-size: 36px;

  img {
    max-width: 77px;
  }
}

.login-container {
  display: flex;
  justify-content: flex-end;

  button {
    @include text(36px, 400);
    outline: none;
    border: none;
    background: transparent;
    color: $plate-background;
  }
}

.menu-burger-img {
  margin-left: auto;
  //position: fixed;
  //right: 0;
  display: flex;
  justify-content: flex-end;
  height: 77px;

  img {
    max-height: 100%;
  }
}

body, html {
  background: $main-background;
}

.fixed-menu {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 200px;
  padding: 20px 10px;
  background: $fixed-menu-background;
  border-radius: 20px;
  width: 90%;
  height: min-content;

  .lesson-data-container {
    .lesson-data {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;

      b {
        @include text(32px, 700);
        line-height: 34px;
      }

      span {
        @include text(14px, 300);
        color: #4D4D4D;
      }
    }
  }

  button {
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FF6767;
    @include text(24px, 700);
    color: whitesmoke;
  }

  .lesson-reservation-data {
    margin-top: 20px;

    img {
      width: 20%;
    }

    @include text(18px);

    span {
      margin-left: 10px;
      line-height: 20px;
    }
  }
}

.dark-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(65, 65, 65, 0.75);
  z-index: 2;
}

.white-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: $main-background;
  z-index: 2;
}

.nav-pop-up {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  z-index: 3;
  @include text(36px);

  .close-cross {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    top: 0;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-content: center;

    a {
      margin: 10px 0;
    }
  }
}

.sign-up-pop-up {
  display: none;
  flex-direction: column;
  position: fixed;
  align-items: center;
  align-content: center;
  top: 20%;
  left: 0;
  width: 100%;
  z-index: 3;

  .sign-up-menu {
    padding-top: 85px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $main-background;
    border-radius: 10px;
    position: relative;
    .close-cross{
      display: none;
    }

    img {
      position: absolute;
      top: -75px;
      border-radius: 100%;
      width: 150px;
      height: 150px;
    }

    .top-text {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      @include text(20px);
      color: gray;
      width: 80%;

      span:nth-child(1) {
        @include text(36px);
        color: black;
      }
    }

    .fb {
      margin-top: 10px;

      .fb-login-button {
        width: 100%;
      }
    }

    .google {
      margin-top: 10px;
    }

    .bottom-text {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      width: 80%;

      label {
        margin-top: 10px;
        @include text(20px);
        color: gray;
      }

      input {
        margin-top: 10px;
        text-align: center;
        border-radius: 5px;
        width: 100%;
        height: 46px;
      }

      button {
        margin-top: 10px;
        border: black solid 1px;
        border-radius: 5px;
        background: #7EFFF0;
        width: 100%;
        @include text(28px);
        color: black;
      }

      a {
        text-decoration: underline;
      }

      span {
        @include text(14px);
        color: black;
      }
    }
  }
}

.main-about {
  margin-top: 50px;

  .tutor-avatar {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 80%;
    }
  }

  .main-about-text {
    margin-left: 20px;

    .person-details {
      display: flex;
      flex-direction: column;
    }

    img {
      width: 35px;
      padding-right: 5px;
    }

    .tutor-name {
      @include text(46px);
    }

    .short-tutor-desc {
      @include text(28px, 300);
    }
  }
}


.specs {
  @include text(24px);

  img {
    width: 35px;
    padding-right: 5px;
  }
}

.achievement {
  margin-top: 30px;
  display: flex;
  align-items: center;
  padding: 5px;
  background: $achievement-background;
  border-radius: 20px;

  img {
    height: 64px;
  }

  .achievement-text {
    display: flex;
    flex-direction: column;
  }

  @include text(24px);
}

.tutor-self-desc {
  margin-top: 20px;

  .tutor-self-desc-text {
    text-align: left;
    @include text(28px);
  }
}


.feedback {
  margin-top: 20px;

  .feedback-rating {

    .general-rating {
      @include text(32px);
    }

    .reviews-counter {
      width: 50%;
    }

    .general-rating {
      width: 100%;
      display: flex;
      justify-content: space-between;
      span{
        white-space: nowrap;
      }
    }

    .rating-row {
      justify-content: space-between;
      align-items: center;
      @include text(28px);

      span {
        //inline-size: min-content;
        hyphens: manual;
        white-space: nowrap;
      }

      .progress-bar {
        width: -moz-available;
        width: -webkit-fill-available;
        height: 15px;
        border-radius: 10px;
        background: gray;
        margin: 0 5px;
      }
    }
  }

  .user-row {
    margin-top: 10px;
    border-top: 2px solid rgba(0, 0, 0, .3);
    padding-top: 10px;

    img {
      width: 100%;
    }

    .user-row-content {
      margin-left: 10px;
      @include text(24px);

      .main-user-data {
        span {
          display: block
        }

        span:nth-child(1) {
          @include text(28px, 700);
        }

        span:nth-last-child(1) {
          color: gray;
        }
      }
    }
  }
}

.section {
  width: 95%;
}

.section-declaration {
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, .3);
  @include text(36px);

  b {
    margin-left: 25px;
  }
}

footer {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  height: 30px;
  width: 100%;
  background: $hf-background;
  color: #bae8e8;
  @include text(14px, 300);
  -webkit-box-shadow: 0 -5px 36px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 -5px 36px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 -5px 36px 0 rgba(0, 0, 0, 0.75);
}

.desktop {
}

.mobile {
}

@media screen and (max-width: 1199px) {
  //.desktop {
  //  display: none;
  //}
  header{
    position: fixed;
    top: 0;
  }
  .main-about {
    margin-top: 114px;
    .main-about-text {
      margin: 0;
    }
  }
  .fixed-menu {
    position: fixed;
    display: flex !important;
    top: auto;
    left: 0;
    width: 100%;
    bottom: 0;
    border-radius: 10px 10px 0 0;
    background: $fixed-menu-background;
    &.plate{
      -webkit-box-shadow: 0px -5px 4px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0px -5px 4px rgba(0, 0, 0, 0.25);
      box-shadow: 0px -5px 4px rgba(0, 0, 0, 0.25);
    }
    .lesson-reservation-data {
      display: none;
    }
  }
  .tutor-avatar {
    img {
      max-width: 280px !important;
    }
  }
  .header-links {
    flex-direction: column;
    align-content: center;
  }
  .section {
    width: 100%;
  }
  footer {
    height: 173px;
  }
}

@media screen and (max-width: 450px) {
  .logo-container {
    img {
      display: none;
    }
  }
  .main-about {
    .main-about-text {
      .tutor-name {
        @include text(38px)
      }
    }
  }
  .sign-up-pop-up .sign-up-menu {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100vw;
    height: 100vh;
    border-radius: 0;
    padding: 0;
    justify-content: center;
    img{
      position: relative;
      top:0;
    }
    .close-cross{
      position: fixed;
      right: 0;
      top: 0;
      display: flex;
      img{
        height: 40px;
        width: 40px;
      }
    }
  }
  .nav-pop-up .header-links{
    .login-container{
      button{
        color: black;
      }
    }
  }
  .menu-burger-img {
    height: 54px;
  }
  .general-rating {
    flex-direction: column;
    text-align: center;
  }
}

